<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Proof of concept - Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="!auth.token">
    Inicia Sension para poder subir imagenes
  </div>
  <div *ngIf="!!auth.token">
    <input type="file" multiple="true" (change)="fileChanges($event)">
    <button ion-button secondary (click)="submit()">Subir Archivo</button>
  </div>

  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>
